html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.stats {
  display: flex;
  margin: 15px;
}
.photo-card {
  box-sizing: border-box;

  background-color: #61a3cf;
  width: 480px;
  margin: 15px;
  padding: 0 15px;
}
.image {
  display: block;
  height: 100%;
  width: 100%;
  padding: 15px;
  object-fit: scale-down;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}
.stats-item {
  margin: 0 15px;
  text-align: center;
}
.is-hidden {
  visibility: hidden;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #f137a6 inset, 0 0 0 0 #f137a6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
.search-form {
  width: 100%;
  text-align: center;
}
.load_more {
  margin-left: 50%;
}
